.bf-ownership-form {
  & .activity-type {
    width: 521px;
  }

  & .mini-field {
    width: 157px;
  }

  & .ogrnip {
    width: 334px;
  }

  & .scans-container {
    margin-bottom: 43px;
  }

  & .full-name {
    width: 511px;
  }

  & .short-name {
    width: 157px;
  }

  & .ogrn {
    margin-right: 187px;
  }
}