.bf-input {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  & label {
    margin-bottom: 12px;
  }

  & input {
    padding-left: 20px;
    width: 334px;
    height: 52px;
    font-size: 15px;
    line-height: 18px;
    color: #999999;
    opacity: 0.7;
    border: 1px solid #E4E5E7;
    border-radius: 7px;
    box-sizing: border-box;
    width: 100%;
  }
}