.bf-button {
  cursor: pointer;
  padding: 18px 52px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.87;
  background: #0063FF;
  border: none;
  border-radius: 7px;

  &.secondary {
    padding-left: 0;
    padding-right: 0;
    color: #1B1B1B;
    opacity: 0.35;
    background-color: transparent;
  }

  &.disabled {
    cursor: default;
    opacity: 0.3;
  }
}