.bf-select {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  & label {
    margin-bottom: 12px;
  }

  & select {
    cursor: pointer;
    padding-left: 20px;
    height: 52px;
    font-size: 15px;
    line-height: 18px;
    color: #222222;
    background: #FBFBFB;
    border: 1px solid #E4E5E7;
    border-radius: 7px;
    box-sizing: border-box;
    width: 100%;
  }
}