.bf-address-form {
  .sync {
    margin-bottom: 40px;
  }

  .small-columns {
    display: flex;
    column-gap: 16px;

    & .bf-input {
      width: 72px;
    }

    & .no-flat {
      margin-top: -8px;
    }
  }

  & .registration-date {
    margin-right: 174px;
    width: 160px;
  }
}